@font-face {
  font-family: Tuffy;
  src: url(../assets/fonts/Tuffy.ttf); }

@font-face {
  font-family: cwTeXHei;
  src: url(../assets/fonts/cwTeXHei.ttf); }

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(../assets/fonts/Roboto-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(../assets/fonts/Ubuntu-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 900;
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url(../assets/fonts/UbuntuMono-Bold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

svg [template] {
  visibility: hidden; }

svg [example] {
  visibility: hidden; }

svg > :not(defs) {
  pointer-events: none; }

svg > :not(defs) * {
  pointer-events: none; }

svg [input] {
  pointer-events: visiblePainted; }

svg [input] * {
  pointer-events: visiblePainted; }

svg [scroll] {
  pointer-events: visiblePainted; }

svg [scroll] * {
  pointer-events: visiblePainted; }

svg [interactable] {
  pointer-events: visiblePainted; }

svg [interactable] * {
  pointer-events: visiblePainted; }

[page] {
  width: 100%;
  height: auto;
  position: absolute; }

body {
  font-family: Ubuntu, cwTeXHei !important;
  touch-action: none;
  overflow-x: hidden;
  overflow-y: hidden;
  background: black; }

@media screen and (max-aspect-ratio: 568 / 320) {
  body {
    overflow-y: scroll; } }

html {
  background: #9edeff !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100%; }

[squeezed] {
  background: black; }

* {
  -moz-user-select: none;
  -webkit-user-select: none; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

dl {
  margin: 0;
  padding: 0; }

dt {
  margin: 0;
  padding: 0; }

dd {
  margin: 0;
  padding: 0; }

blockquote {
  margin: 0;
  padding: 0; }

figure {
  margin: 0;
  padding: 0; }

fieldset {
  margin: 0;
  padding: 0; }

legend {
  margin: 0;
  padding: 0; }

textarea {
  margin: 0;
  padding: 0; }

pre {
  margin: 0;
  padding: 0; }

iframe {
  margin: 0;
  padding: 0; }

hr {
  margin: 0;
  padding: 0; }

h1 {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0;
  padding: 0; }

h3 {
  margin: 0;
  padding: 0; }

h4 {
  margin: 0;
  padding: 0; }

h5 {
  margin: 0;
  padding: 0; }

h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 100%;
  font-weight: normal; }

h2 {
  font-size: 100%;
  font-weight: normal; }

h3 {
  font-size: 100%;
  font-weight: normal; }

h4 {
  font-size: 100%;
  font-weight: normal; }

h5 {
  font-size: 100%;
  font-weight: normal; }

h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button {
  margin: 0; }

input {
  margin: 0; }

select {
  margin: 0; }

textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img {
  max-width: 100%; }

embed {
  max-width: 100%; }

object {
  max-width: 100%; }

audio {
  max-width: 100%; }

video {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 0;
  text-align: left; }

th {
  padding: 0;
  text-align: left; }

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

article {
  display: block; }

aside {
  display: block; }

figure {
  display: block; }

footer {
  display: block; }

header {
  display: block; }

hgroup {
  display: block; }

section {
  display: block; }

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

button {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

input {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

select {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

code {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden; }

a {
  /*color: #00d1b2;*/
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out; }

code {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: 0.8em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0; }

input[type="checkbox"] {
  vertical-align: baseline; }

input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

pre {
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.8em;
  white-space: pre;
  word-wrap: normal; }

pre code {
  -webkit-overflow-scrolling: touch;
  background: none;
  color: inherit;
  display: block;
  font-size: 1em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem; }

table {
  width: 100%; }

table td {
  text-align: left;
  vertical-align: top; }

table th {
  text-align: left;
  vertical-align: top; }

table th {
  color: #363636; }

fullscreen-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

fullscreen-holder[active] {
  opacity: 1;
  transition: opacity 0.1s ease-out; }

fullscreen-holder:not([active]) {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: z-index 0.1s step-end, opacity 0.1s ease-out; }

splash[page] {
  display: block; }

splash[page] > camera {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }

modules-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

modules-loader[active] {
  opacity: 1;
  transition: opacity 0.1s ease-out; }

modules-loader:not([active]) {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: z-index 0.1s step-end, opacity 0.1s ease-out; }

modules-loader > modules-modal-holder > item {
  color: rgba(255, 255, 255, 0.85);
  text-align: center; }

modules-loader > modules-modal-holder > item modules-loading-item > div > spinner:after {
  left: calc(50% - 16px);
  top: calc(50% - 16px);
  width: 64px;
  height: 64px;
  border: 1px solid #fbfbfb;
  border-color: transparent transparent rgba(255, 255, 255, 0.85) rgba(255, 255, 255, 0.7) !important; }

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

modules-loading-item {
  display: block;
  padding: 1.25rem;
  display: block;
  box-shadow: none;
  background: transparent; }

modules-loading-item > div {
  align-items: flex-start;
  display: flex;
  text-align: left;
  justify-content: center; }

modules-loading-item > div > spinner:after {
  color: transparent;
  pointer-events: none;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  position: relative;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  animation: spinAround 600ms infinite linear;
  border: 5px solid #dbdbdb;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important; }

modules-modal-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }

modules-modal-holder > item {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%); }

modules-share-sheet {
  /* Animations */ }

@keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    visibility: hidden;
    opacity: 0; } }

body > {
  /* Share Sheets */ }

body > .darklayer {
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65); }

body > .darklayer.loaded {
  display: block; }

body > .darklayer.on {
  animation: fade-in 0.25s ease-out forwards; }

body > .darklayer.off {
  animation: fade-out 0.25s ease-out forwards; }

modules-share-sheet .Sheet {
  left: 0;
  padding: 10px;
  transition: transform 0.25s ease-out;
  visibility: hidden;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  user-select: none;
  margin: 0 auto; }

modules-share-sheet .Sheet.loaded {
  visibility: visible; }

modules-share-sheet .Sheet.unselected {
  transform: translateY(100%); }

modules-share-sheet .Sheet.selected {
  transform: translateY(0%); }

modules-share-sheet .SheetContent {
  max-width: 375px;
  margin: 0 auto; }

modules-share-sheet .itemset {
  text-align: left;
  background: rgba(248, 248, 248, 0.95);
  backdrop-filter: blur(5px);
  padding: 1.5em 0 1em;
  border-radius: 15px;
  margin: 0.6rem auto 0.5rem; }

modules-share-sheet .itemset section {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px 1.5%;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #C2C2C6 0%, #D6D6DA 5%, #D6D6DA 95%, #C2C2C6 100%) 100% 0 0 0; }

modules-share-sheet .itemset section:first-of-type {
  padding-top: 0;
  border: none; }

modules-share-sheet .itemset section:last-of-type {
  padding-bottom: 0; }

modules-share-sheet .itemset section:only-child {
  padding-top: 0;
  padding-bottom: 0;
  border: none; }

modules-share-sheet .itemset .itemheader {
  transform: translateY(-1.1em) translateX(0.25em);
  position: absolute;
  height: 1em; }

modules-share-sheet .itemset .stepstones {
  height: 0.8em; }

modules-share-sheet .itemset .itemcontainer {
  display: inline;
  margin: 0;
  text-align: center; }

modules-share-sheet .itemset li {
  display: inline-block;
  width: 22.5%;
  height: 100%;
  margin: 0 auto;
  color: #000000;
  font-size: 12px;
  line-height: 1.3em;
  text-align: center;
  vertical-align: top;
  white-space: normal; }

modules-share-sheet .itemset li img {
  border-radius: 10px; }

modules-share-sheet .itemset li a {
  color: inherit;
  text-decoration: none; }

modules-share-sheet .appicon {
  width: auto;
  height: 60px; }

modules-share-sheet .cancel {
  display: block;
  width: 100%;
  color: #0076FF;
  background: #f8f8f8;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 0.8em 0;
  border: none;
  border-radius: 15px;
  margin: 0.5rem auto 0.6rem; }

modules-share-sheet .cancel.touched {
  background: rgba(232, 232, 235, 0.95); }

modules-share-sheet .cancel:active {
  background: rgba(232, 232, 235, 0.95); }

@media (orientation: landscape) {
  modules-share-sheet .itemset .itemcontainer {
    margin: 0 7px; }
  modules-share-sheet .itemset .itemcontainer:first-child {
    margin-left: 0; }
  modules-share-sheet .itemset .itemcontainer:last-child {
    margin-right: 0; } }

@media (min-width: 45em) {
  modules-share-sheet .SheetContent {
    max-width: 450px; }
  modules-share-sheet .itemset section {
    padding-right: 2.5%;
    padding-left: 2.5%; }
  modules-share-sheet .itemset .itemcontainer {
    width: 24.5%; }
  modules-share-sheet .itemset .itemcontainer {
    margin: 0 0.25em; }
  modules-share-sheet .itemset .itemcontainer:first-child {
    margin-left: 0; }
  modules-share-sheet .itemset .itemcontainer:last-child {
    margin-right: 0; }
  modules-share-sheet .itemset li {
    width: 20%; }
  modules-share-sheet .appicon {
    height: 75px; } }

modules-snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

modules-snackbar > snackbar {
  display: inline-block;
  min-width: 100%;
  max-height: 0;
  opacity: 0;
  -webkit-transition: opacity 0s 0.25s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 0s 0.25s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0s 0.25s, max-height 0.25s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0s 0.25s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

modules-snackbar > snackbar > item {
  display: block;
  padding: .8rem 1.5rem;
  margin-top: 3px;
  font-size: .9rem;
  color: #fff;
  background-color: #323232;
  border-radius: 2px; }

modules-snackbar[active] > snackbar {
  max-height: 100px;
  opacity: 1;
  -webkit-transition: opacity 0s 0s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 0s 0s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0s 0s, max-height 0.25s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0s 0s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transform: translateY(0);
  transform: translateY(0); }

@media (min-width: 544px) {
  modules-snackbar {
    right: 1rem;
    left: 1rem;
    width: 100%; }
  modules-snackbar > snackbar {
    min-width: 280px; } }
