svg [template] {
    visibility: hidden;
}
svg [example] {
    visibility: hidden;
}

svg {
    pointer-events: none;
}
svg * {
    pointer-events: inherit;
}
svg [listening] {
    pointer-events: visiblePainted;
}

body > [page] {
	width: 100%;
	height: auto;
	position: absolute;
}

body {
    touch-action: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: 100%;
}
* {
    -moz-user-select: none;
    -webkit-user-select: none;
}
