<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="109504" id="com.kodingkingdom.poleungkuk.onetouch17" version="0.971" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>一觸即動</name>
    <description>一觸即動 ·「營 · 智」健康活躍生活手機應用程式</description>
    <author email="plkinfo@poleungkuk.org.hk" href="http://www.poleungkuk.org.hk/">保良局</author>
    <content src="index.html" />
    <preference name="target-device" value="handset" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />
    <gap:config-file overwrite="true" parent="UIViewControllerBasedStatusBarAppearance" platform="ios">
        <false />
    </gap:config-file>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="instagram://*" />
    <allow-intent href="fb://*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-dialogs" spec="^1.3.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.0" />
    <plugin name="cordova-plugin-spinner-dialog" spec="^1.3.1" />
    <plugin name="cordova-plugin-pedometer" spec="^0.4.1" />
    <plugin name="cordova-plugin-hidden-statusbar-overlay" spec="git+https://github.com/katzer/cordova-plugin-hidden-statusbar-overlay.git" />
    <plugin name="cordova-plugin-actionsheet" spec="^2.3.3" />
    <engine name="browser" spec="^5.0.1" />
    <engine name="android" spec="~7.0.0" />
    <engine name="ios" spec="~4.5.4" />
</widget>
